*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > header {
    background-color: rgb(24, 27, 42);
    padding: 14px 0px;
    color: white;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: whitesmoke;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;

}

section {
    padding: 16px 0px;
}

section h2,
.articles article {
    margin-bottom: 16px;

}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}


.articles article a {
    background-color: rgb(100, 117, 186);
    color: whitesmoke;
    padding: 8px;
    display: inline-block;
    text-decoration:none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

#sports {
    background-color: rgba(14, 255, 170, 0.425);
}

#sports .articles article a {
    background-color: rgb(31, 163, 117);
}

#economy {
    background-color: rgba(255, 230, 0, 0.504);
}

#economy .articles article a {
    background-color: rgb(255, 187, 0);
}

.articles article {
    width: 30%;
}